@font-face {
  font-family: 'ttf_icon'; /* Project id 3626187 */
  src: url('//at.alicdn.com/t/c/font_3626187_53und65yw64.ttf?t=1664282585584')
    format('truetype');
}
@font-face {
  font-family: 'editor'; /* Project id 3649658 */
  src: url('//at.alicdn.com/t/c/font_3649658_wh303gnfzle.woff2?t=1663224113325')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3649658_wh303gnfzle.ttf?t=1663224113325')
      format('truetype');
}
