.title {
  margin-top: 20px;
  background-color: #deecf980;
  background: linear-gradient(135deg, #deecf980 80%, #deecf900);
  border-left: 4px solid #6aa2e4;
  padding: 3px 0px 3px 8px;
  font-size: 1.2em;
}
