.editor {
  &:deep(.ProseMirror) {
    .code {
      font-size: 0.9rem;
      padding: 0.25em;
      border-radius: 0.25em;
      background-color: rgba(#616161, 0.1);
      color: #616161;
      box-decoration-break: clone;
    }
    pre {
      background: #292d3e;
      color: #fff;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-weight: 500;
        font-family: sans-serif;
        font-size: 0.85em;
      }

      .hljs-comment,
      .hljs-quote {
        color: #787878;
      }

      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-name,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: #f98181;
      }

      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: #fbbc88;
      }

      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: #b9f18d;
      }

      .hljs-title,
      .hljs-section {
        color: #faf594;
      }

      .hljs-keyword,
      .hljs-selector-tag {
        color: #70cff8;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      .hljs-strong {
        font-weight: 700;
      }
    }
  }
}
