@import './codeBlock.scss';
.editor {
  flex: 1;

  &:deep(blockquote) {
    border-left: 3px solid #dcdcdc;
    padding-left: 5px;
  }

  &:deep(.ProseMirror) {
    outline: none;
    > * + * {
      margin-top: 0.4em;
    }
    img {
      max-width: 60%;
      height: auto;
      content-visibility: auto;
      -webkit-user-drag: unset !important; //拖动
      user-select: none !important; //选中
      // object-fit: cover;
      &.ProseMirror-selectednode {
        outline: 3px solid #68cef8;
      }
    }
    @media (max-width: 750px) {
      img{
        max-width: 80%;
      }
    }
  }

  &:deep(ul[data-type='taskList']) {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex !important;

      > label {
        user-select: none;
      }
    }
  }

  &:deep(div) {
    display: unset;
  }

  &:deep(.ProseMirror) {
    width: 100%;
    margin-top: -20px !important;
    outline: none;
    font-family: sans-serif;
  }
}
